@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0.5rem;
  border: 2px dotted $dark;
  border-radius: 2px;
  box-shadow: 1px 1px 1px grey;

  &__fields {
    width: 15rem;
    margin: 0.1rem;
    border: 2px solid $primary;
    border-radius: 4px;
    padding: 0.4rem;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
  }

  &__description {
    min-height: 6rem;
    resize: none;
  }

  &__date {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.1rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    @include button;
  }
}
